* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #888;
}

/* Style the header */
h1 {
	padding: 0.5em;
	background-color: white;
}

/* The grid container */
.grid-container {
	display: grid;
	grid-template-areas: 
		'header'
		'timebar'
		'right' 
		'left' 
		'footer2'
		'footer1'
		'footer3'
		'footer4';
}

.header {
	grid-area: header;
	background-color: purple;
	color: white;
	padding: 30px;
	text-align: center;
	font-size: 25px;
}
	
.grid-container > div {
	display: grid;
	justify-items: center;	
	align-items: center;	
}

#timebar {
	grid-area: timebar;
	background-color: indigo;
	left: 0;
	height: 10px;
}

/* Style the left column */
.left {
	grid-area: left;
	background-color: #eee;
}

/* Style the right column */
.right {
	grid-area: right;
	background-color: #eee;
	padding: 15px;
}

img {
	max-width: 60vw;
	max-height: 50vh;
}

.footer1, .footer2, .footer3, .footer4 {
	background-color: #ccc;
	padding: 10px;
	text-align: center;
}

/* Style footer one */
.footer1 {
	grid-area: footer1;
}

/* Style footer two */
.footer2 {
	grid-area: footer2;
}

/* Style footer three */
.footer3 {
	grid-area: footer3;
}

/* Style footer four */
.footer4 {
	grid-area: footer4;
}

#question {
	font-size: 2em;
	font-weight: bold;
}

.options {
	min-width: 25vw;
	color: white;
	font-size: 1.5em;
	padding: 0.5em;
	margin: 1em;
	border-radius: 10px;
	border: 1px solid #00000000;
}

#a {
	background-color: #ED1B24;
	box-shadow: 5px 5px #AD0B04;
}

#b {
	background-color: #dd7808;
	box-shadow: 5px 5px #Bd5000;
}

#c {
	background-color: green;
	box-shadow: 5px 5px #050;
}

#d {
	background-color: #2929dd;
	box-shadow: 5px 5px #00a;
}

#a:hover , #b:hover , #c:hover , #d:hover {
	transform: translate(5px, 5px);
	box-shadow: none;
}

#lightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
}

#messagebox {
	width: 40%;
	min-width: 500px;
	height: 40%;
	min-height: 300px;
	padding: 20px;
	
	/* vertically and horizontally center the text */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#heading {
	position: relative;
	height: 25%;
	width: 100%;
	padding: 10px;
	color: white;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	background-color: #aaa;
	border-radius: 25px 25px 0 0;
}

#message {
	position: relative;
	height: 75%;
	width: 100%;
	padding: 20px;
	color: black;
	text-align: center;
	font-size: 1.5em;
	background-color: #fff;
	border-radius: 0 0 25px 25px;
}

#message span {
	text-decoration: underline;
	cursor: pointer;
}

#hint {
	border-radius: 5px;
	background-color: purple;
	padding: 10px 12.5px;
	color: white;
	cursor: pointer;
}

/* Desktop Version */
@media (min-width: 768px) {

	.grid-container {
		grid-template-areas: 
			'header header header header' 
			'timebar timebar timebar timebar'
			'left left right right' 
			'footer1 footer2 footer3 footer4';
	}

}